:root {
  --bg-color: #fff;
  --txt-color: #000;
}

.dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202124;
    --txt-color: #ebebeb;
  }

  .dark {
    display: inherit;
  }

  .light {
    display: none;
  }
}

html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 0;
  overflow-x: hidden;
  font-family: 'Google Sans', 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  margin: 20px 0 20px 0;
}

body > div {
  max-width: 100%;
  overflow-x: auto;
  box-shadow: color-mix(in srgb, rgb(0,0,0) 30%,transparent) 0 1px 1px 0, color-mix(in srgb, rgb(0,0,0) 15%,transparent) 0 1px 6px 2px;
  border-radius: 15px;
}

table {
  background-color: rgba(255, 255, 255, 0.05);
  border-spacing:0
}

p, th, td {
  padding: 5px 15px;
  text-align: center;
  font-size: larger;
}

th {
  height: 35px;
}

h1, h2, h3 {
  width: 100%;
  text-align: center;
}

a {
  color: #1f6edd;
  text-decoration: none;
}

a.button {
  text-decoration: none;
  text-align: center;
}

a.button, button {
  font-family: 'Google Sans', 'Arial', sans-serif;
  text-decoration: none;
  background-color: transparent;
  color: rgb(26, 115, 232);
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 5px;
  display: inline-block;
  border-radius: 20px;
  border: 2px solid #cccccc7d;
  opacity: 1;
  transition: opacity 0.3s, background-color 0.3s;
  cursor: pointer;
}

a.button:disabled, button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

a.button:hover, button:hover {
  background-color: #5e71d212;
}

a.button.tone2, button.tone2 {
  background-color: #1a73e8;
  color: white;
}

a.button.tone2:hover, button.tone2:hover {
  opacity: 0.9;
}

 #banner-dark, #banner-light {
  height: 110px;
  object-fit: contain;
}
