html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Google Sans', 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div {
  margin-bottom: 50px;
  max-width: 100%;
  overflow-x: auto;
}

table {
  border: 1px solid #000;
  border-radius: 15px;
  border-spacing:0
}

p, th, td {
  padding: 5px 15px;
  text-align: center;
  font-size: larger;
}

th {
  border-bottom: 1px solid #000;
}

h1, h2, h3 {
  width: 100%;
  text-align: center;
}

a.button {
  text-decoration: none;
  text-align: center;
}

a.button, button {
  font-family: 'Google Sans', 'Arial', sans-serif;
  text-decoration: none;
  background-color: transparent;
  color: rgb(26, 115, 232);
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 5px;
  display: inline-block;
  border-radius: 20px;
  border: 2px solid #cccccc7d;
  opacity: 1;
  transition: opacity 0.3s, background-color 0.3s;
  cursor: pointer;
}

a.button:disabled, button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

a.button:hover, button:hover {
  background-color: #5e71d212;
}

a.button.tone2, button.tone2 {
  background-color: #1a73e8;
  color: white;
}

a.button.tone2:hover, button.tone2:hover {
  opacity: 0.9;
}
